*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/gorod.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    overflow-x: hidden;
}

#header{
    display: block;
    margin: auto;
    max-width: 75%;
}

.left-column, .right-column{
    border: 5px solid #ae2c3e;
    text-align: center;
    color: firebrick;
}

.textStyle{
    margin-bottom: 30px;
}

#main-image{
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin-top: 20px;
}

#Winner{
    margin-top: 20px;
}

